<!--
# user.uid = auth["uid"]
# user.username = auth["info"]["nickname"]
# user.twitter = auth["info"]["urls"]["Twitter"]
# user.avatar = auth["info"]["image"]
# user.name = auth["info"]["name"]
# user.bio = auth["info"]["description"]
-->

<h4><%= @user_create_string %></h4>

