@font-face {
    font-family: "Helvetica";
    src: url(/fonts/Helvetica.svg) format("truetype");
}
@font-face {
    font-family: "Helvetica";
    font-weight: bold;
    src: url(/fonts/Helvetica.svg) format("truetype");
}

.neo-reset a {
	text-decoration: none;
	border: 0;
}

.neo-reset a:hover {
	text-decoration: none;
	border: 0;
}


