<div class='canvas-wrapper'>
  <div id='search-wrapper'>
    <%= render 'layouts/search' %>
  </div>
  <canvas id="neoviz"></canvas>
</div>
<%= javascript_include_tag 'neovigator' %>
<div class="aside-wrapper">
  <aside>
    <div id="explanation"></div>
  </aside>
</div>
