<h1>Logged in title</h1>

<h3>Categories</h3>
<ul>
<% Category.all.each do |category| %>
  <li><%= category.title %></li>
<% end %>
</ul>

<% User.all.each do |user| %>
  <p><%= user.username %></p>
  <% user.issues.each do |issue| %>
    <p><%= issue.title %></p>
  <% end %>
<% end %>

<h1>Test: <%= client if client %></h1>
