<div class="aside-wrapper">
  <aside>
    <div id="explanation">
      <div id='aside-filler'>
        <h2 id='first-view'>Expand your horizon.</h2>
        <ul>
          <li>Click on a category to get started</li>
          <li>Traverse issues and different perspectives</li>
          <li>Link your Twitter account to discover what's beyond your horizon.</li>
        </ul>
      </div>
    </div>
  </aside>
</div>
