<div class='welcome-wrapper'>
  <h2>Broaden your Horizon.</h2>
  <h4>
  	<p>The internet is a crazy place. Horizon helps you make sense of it.</p><br>
   	<p>Your Horizon is an interactive visualization of your Twitter account, illuminating your exposure to pressing Issues across a variety of Categories.</p> <br>
   	<p> *screenshot of topic categories with buttons </p><br>
   	<p>Issues are organized by Categories. Clicking on a Category will show its  "bubble", a clickable, draggable circle that displays its relationship to underlying Issues. </p><br>
   	<p> *picture of topic node and issue node</p><br> 
   	<p>Each Issue is further represented by Perspectives - organizations, publications, and individuals that represent a unique angle on that Issue. </p><br>
   	<p>*picture of expert node and informational box, w/ tweets, follow button</p><br>
   	<p>If you're already exposed to a perspective, it will appear in red. </p>
   	<p>If you don't follow a perspective, it will appear in white. 
   	</p><br>
   	<p> * picture of followed/not follwed expert with follow button</p><br>
   	<p>Whether you choose to broaden your Horizon is up to you.</p>



   </h4>
  <h5></h5>
  <div class='nav-button-twitter-login'>
    <%= link_to "Sign in with Twitter", "/auth/twitter", class: 'twitter-auth-button' %>
    <!-- Use /auth/twitter?force_login=true to force login upon redirect -->
  </div>
</div>
