<div class='canvas-wrapper'>
  <div id='search-wrapper'>
    <%= render 'layouts/search' %>
  </div>
  <canvas id="neoviz"></canvas>
</div>
<%= javascript_include_tag 'neovigator' %>
<div class="aside-wrapper">
  <aside>
    <div id="explanation">
      <div id='aside-filler'>
        <h2 id='first-view'>Expand your horizon.</h2>
        We can use this box to introduce our site to users.
        It can be as big as we need it, but position is kind of hard to control.
      </div>
    </div>
  </aside>
</div>
