<h1>Logged in title</h1>

<h3>Categories</h3>
<ul>
<% Category.all.each do |category| %>
  <li>
    <%= category.title %>
    <ul>
      <% category.issues.each do |iss | %>
        <li>
          <%= link_to "#{iss.title}", iss %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>


<%= link_to "Sign Out", signout_path, class: "nav-link" %>
