<canvas id="neoviz"></canvas>
<%= javascript_include_tag 'neovigator' %>
<div class="aside-wrapper">
  <aside>
    <div id="explanation">
      <div id='aside-filler'>
        <h2 id='first-view'>Expand your Horizon.</h2>
        <h6>Your Horizon is an interactive visualization of your Twitter account, illuminating your exposure to pressing Issues across a variety of Categories.</h6>
        <ul>
          <li>Click on a category to get started.</li>
          <li>Click on any bubble to discover more.</li>
          <li>Link your Twitter account to discover what's beyond your horizon.</li>
        </ul>
      </div>
    </div>
  </aside>
</div>
