Hello, world!

<% if current_user %>
  Welcome <%= current_user.username %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <p>or</p>
  <%= link_to "Register", "/register" %>
<% end %>
