<div class='canvas-wrapper'>
  <div id='search-wrapper'>
    <%= render 'layouts/search' %>
  </div>
  <canvas id="neoviz"></canvas>
</div>
<%= javascript_include_tag 'neovigator' %>
<% if logged_in? %>
  <%= render 'logged_in_index' %>
  <!-- Renders a view for user that ARE logged in -->
<% else %>
  <%= render 'logged_out_index' %>
  <!-- Renders a view for users that are NOT logged in -->
<% end %>
