<h1>Hello, world!</h1>

<% if logged_in? %>
  <%= render 'logged_in_index' %>
  <!-- Renders a view for user that ARE logged in -->
<% else %>
  <%= render 'logged_out_index' %>
  <!-- Renders a view for users that are NOT logged in -->
<% end %>
