/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: Tahoma, Geneva, sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  background-color: transparent;
}

/* Text elements */
a.logo-text {
  color: #EFE9F4;
  font-weight: bold;
  font-family: 'Lato', serif;
}
a.logo-text {
  text-decoration: none;
}
.nav-text {
  display: inline-block;
  padding: 6px;
  vertical-align: top;
}
.nav-horizon {
  /*font-size: 30px;*/
}
.nav-link, a.nav-link:hover, a.nav-text-welcome:hover {
  color: #ff784f;
}
a.nav-link:visited, a.nav-text-welcome:visited {
  color: #ff784f;
}
.nav-button-twitter-login {
  display: inline-block;
  margin: 12px;
}
.nav-text-alerts {
  display: inline-block;
  vertical-align: top;
  margin: 0 16px 0 0;
}
.nav-text-welcome {
  font-size: 20px;
  color: #35D7E0;
}
a.nav-text-welcome:hover {
  color: #ff784f;
}
.nav-link-logout {
  display: block;
  color: #35D7E0;
}
.notice, .alert {
  display: inline;
}
#user-wrapper > p {
  padding: 5px 0 15px 20px;
  font-size: 18px;
}
h1 {
  margin: 1px;
  font-size: 40px;
  color: #4c4c4c;
}
h1.issue {
  font-size: 30px;
}
h2 {
  margin: 2px;
  color: #4c4c4c;
}
h3 {
  margin: 2px;
  padding: 2px;
}
h3.twitter-link {
  display: inline;
  text-decoration: underline;
}
h3.twitter-link:hover {
  color: #ff9b7f;
}
h4 {
  margin: 6px 2px 2px 2px;
  padding: 2px;
  color: #ff6238;
}
p {
  margin: 2px;
}
ul li:before {
  content: "\00BB  ";
}
li {
  padding: 20px 10px 20px 0;
  list-style: none;
  color: #4c4c4c;
  font-weight: bold;
  font-size: 14px;
}
.instruct, .instruct-text {
  text-align: right;
  font-size: 10px;
  color: #7f7f7f;
}
.instruct {
  padding: 0 0 0 210px;
}

/* Image and chart elements */
.twitter_icon {
  padding: 0 0 0 6px;
}
section.logo {
  display: inline-block;
}
.nav-avatar {
  display: inline-block;
}
.current-user-avatar {
  display: inline-block;
  border: 3px solid #35D7E0;
  border-radius: 6px;
}
.aside-user-avatar {
  float: right;
  display: block;
  border: 3px solid #FF8351;
  border-radius: 6px;
}
.twitter-avatar {
  display: inline;
  margin: 0 8px 0 2px;
  border: 3px solid #FF8351;
  border-radius: 6px;
}
#piechart, #barchart {
  display: block;
  border: 2px solid #4C4C4C;
  margin: 10px auto 30px auto;
}
