.aside-wrapper {
  margin: 0 0 0 400px;
  max-width: 100px;
  min-height: 100px;
}
aside {
  position: absolute;
  top: 125px;
  color: #191919;
  max-width: 350px;
  max-height: 30px;
}
.intro-text {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
}
#aside-filler {
  margin: 10px;
  padding: 6px;
  max-width: 900px;
  background-color: ghostwhite;
  /*border: 4px solid rgba(255, 98, 56, 0.75);*/
  border-radius: 6px;
  box-shadow: 1px 1px 2px #bfbfbf;
}
.tweet-text {
  font-size: 20px;
}
#nav-info, #aside-info {
  display: none;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  padding: 28px 0 0 40px;
  color: #333333;
  font-size: 18px;
  font-weight: bolder;
}
#nav-info {
  padding: 28px 0 0 40px;
}
#aside-info {
  padding: 88px 0 0 40px;
}
a.aside-text {
  color: #ff6238;
}
a.aside-text:after {
  /*content: ' (external link)';*/
}
