.aside-wrapper {
  margin: 10px;
  max-width: 10px;
  min-height: 100px;
}
aside {
  position: absolute;
  top: 125px;
  color: #20CCD5;
  max-width: 300px;
  max-height: 30px;
}
#aside-filler {
  padding: 6px;
  max-width: 900px;
  background-color:rgba(239, 233, 244, 0.75);
  border: 4px solid rgba(255, 140, 25, 0.75);
  /*border-radius: 2px;*/
  box-shadow: 1px 1px 2px #bfbfbf;
}
#info {
  pointer-events: none;
  z-index: 100;
  position: absolute;
  padding: 4px 0 0 50px;
  color: #333333;
  font-size: 18px;
  font-weight: bolder;
}
a.aside-text {
  color: #ff6238;
}
a.aside-text:after {
  /*content: ' (external link)';*/
}
