.aside-wrapper {
  margin: 0 0 0 500px;
  min-height: 80%;
}
aside {
  position: absolute;
  top: 125px;
  color: #191919;
  max-width: 450px;
}
.intro-text {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
}
#aside-filler {
  padding: 8px;
  left: 200px;
  background-color: ghostwhite;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #bfbfbf;
}
.tweet-text {
  padding: 0 0 0 10px;
  font-size: 20px;
}
#nav-info, #aside-info {
  display: none;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  padding: 28px 0 0 40px;
  color: #333333;
  font-size: 18px;
  font-weight: bolder;
}
#nav-info, #aside-info {
  margin: 10px;
  padding: 8px;
  background-color: ghostwhite;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #bfbfbf;
}
#nav-info {
  top: 20px;
  right: 30px;
}
#aside-info {
  top: 80px;
  right: 30px;
}
a.aside-text {
  color: #ff6238;
}
