form {
  display: inline;
  max-width: 250px;
}
input {
  display: inline;
  padding: 4px;
  border: none;
}
input.button {
  display: inline;
  text-transform: uppercase;
  background-color: #FF784F
}
div#search {
  float: left;
  top: 80px;
}
#search-buttons {
  display: inline;
  height: 100px;
  width: 0;
}
.category-button, .toggle-button, .help-button {
  margin: 1px;
  width: 160;
  text-align: left;
  text-transform: uppercase;
  outline: none;
  /*border-radius: 3px;*/
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #FFFFFF;
  border: 1px solid white;
  background: #25CDD3;
  background-image: -webkit-linear-gradient(top, #25CDD3, #008492);
  background-image: -moz-linear-gradient(top, #25CDD3, #008492);
  background-image: -ms-linear-gradient(top, #25CDD3, #008492);
  background-image: -o-linear-gradient(top, #25CDD3, #008492);
  background-image: linear-gradient(to bottom, #25CDD3, #008492);
  box-shadow: 1px 1px 2px #bfbfbf;
}
.category-button:hover, .toggle-button:hover {
  background-color: #45484d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
  background-image: -webkit-linear-gradient(top, #45484d, #000000);
  background-image: -moz-linear-gradient(top, #45484d, #000000);
  background-image: -ms-linear-gradient(top, #45484d, #000000);
  background-image: -o-linear-gradient(top, #45484d, #000000);
}
.category-button:active, .toggle-button:active {
  background-color: #26759e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
  background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
  background-image: -moz-linear-gradient(top, #26759e, #133d5b);
  background-image: -ms-linear-gradient(top, #26759e, #133d5b);
  background-image: -o-linear-gradient(top, #26759e, #133d5b);
}
.toggle-button {
  position: absolute;
  width: 40px;
  text-align: center;
  background: #FEC885;
  background-image: -webkit-linear-gradient(top, #FFA167, #FE5732);
  background-image: -moz-linear-gradient(top, #FFA167, #FE5732);
  background-image: -ms-linear-gradient(top, #FFA167, #FE5732);
  background-image: -o-linear-gradient(top, #FFA167, #FE5732);
  background-image: linear-gradient(to bottom, #FFA167, #FE5732);
}
.toggle-button:hover {
  background: #FF7C4B;
  background-image: -webkit-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: -moz-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: -ms-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: -o-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: linear-gradient(to bottom, #FF7C4B, #ff2a00);
}
.help-button {
  position: absolute;
  margin: 1px 0 0 5px; /* Keeps help button inline */
  width: 60px;
  text-align: center;
  background: #FEC885;
  background-image: -webkit-linear-gradient(top, #FFA167, #FE5732);
  background-image: -moz-linear-gradient(top, #FFA167, #FE5732);
  background-image: -ms-linear-gradient(top, #FFA167, #FE5732);
  background-image: -o-linear-gradient(top, #FFA167, #FE5732);
  background-image: linear-gradient(to bottom, #FFA167, #FE5732);
}
.help-button:hover {
  background: #FF7C4B;
  background-image: -webkit-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: -moz-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: -ms-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: -o-linear-gradient(top, #FF7C4B, #ff2a00);
  background-image: linear-gradient(to bottom, #FF7C4B, #ff2a00);
}
