/* Positioning wrappers */
/* Aside wrappers kept in aside.css */

html {
  background: #EFEFEF;
  background-repeat: no-repeat;
  background-size: 150%;
  overflow-y: scroll;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
 }
body {
  margin: 0;
  min-height: 100%;
  background-color: transparent;
}
header {
  z-index: 200;
  position: absolute;
  padding: 10px;
  top: 0;
  height: 56px;
  width: 100%;
  color: #ff784f;
  background-color: transparent;
  background: #171D1C;
}
.header-content-wrapper {
  margin: 0 auto auto;
  padding: 0 40px 0 0;
  max-width: 960px;
}

#user-wrapper {
  margin: 0 auto auto;
  padding: 120px 20px 80px 20px;
  max-width: 960px;
}

div#categories {
  float: left;
  top: 80px;
}
#categories-wrapper {
  z-index: 100;
  position: relative;
  max-width: 960px;
}
#categories {
  position: absolute;
  margin: 0 auto auto;
  left: 10px;
  right: 10px;
}

nav {
  float: right;
  text-align: right;
}
.nav-wrapper {
  margin: 0 auto auto;
  width: 960px;
}

.push {
  height: 20px;
}
footer {
  z-index: 200;
  position: fixed;
  padding: 4px;
  height: 20px;
  width: 100%;
  text-align: center;
  color: #ff784f;
  background: #171D1C;
  bottom: 0px;
}
footer > a {
  margin: 0 auto auto;
  color: #ff784f;
}

.right {
  float: right;
  padding: 10px;
  width: 30%;
}
.left {
  display: inline-block;
  padding: 10px;
  width: 30%;
}
