<div class='nav-text-alerts'>
  Link your twitter to see past your horizon.
  <br>
  <div class='nav-button-twitter-login'>
  <%= link_to "Sign in with Twitter", "/auth/twitter", class: 'twitter-auth-button' %>
  </div>
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
</div>
