<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to "Sign in with Twitter", "/auth/twitter", class: 'twitter-auth-button' %>
<!-- Use /auth/twitter?force_login=true to force login upon redirect -->
